<script>

import {io} from "socket.io-client";
import {mapActions} from 'pinia'
import {useUserStore} from './stores/user'

export default {
  name   : "App.vue",
  methods: {
    ...mapActions(useUserStore, {setSocketInstance: 'setSocketInstance'}),
    initSocket() {

      const socket = io("http://localhost", {
        "path"                : "/socket.io",
        "forceNew"            : true,
        "reconnectionAttempts": 3,
        "timeout"             : 2000,
        "transports"          : ["websocket"]
      })

      this.setSocketInstance(socket)

    }
  },
  mounted() {
    this.initSocket()
  }
}

</script>

<template>
  <RouterView/>
</template>

<style>
</style>
