<template>
  <div class="min-h-screen flex  flex-col">
    <div class="m-10">
      <div class="border p-4">You are : {{ this.userData.name }} - #{{ this.userData.id }}</div>
      <div class="tbl flex">
        <div class="flex flex-col w-3/4">
          <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
              <div class="overflow-hidden">
                <table class="min-w-full">
                  <thead class="border-b">
                  <tr>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                      #ID
                    </th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                      Email
                    </th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                      Name
                    </th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                      Status
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr class="border-b" v-for="user in list">
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900 hover:text-gray-400 hover:cursor-pointer"
                        @click="showUserAlert(user)">
                      {{ user.id }}
                    </td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                      {{ user.email }}
                    </td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                      {{ user.name }}
                    </td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">

                      <span class="text-green-800 font-bold text-xl transition-all" v-if="user.status">Online</span>
                      <span class="text-red-800 font-bold text-xl transition-all" v-else>Offline</span>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="logs w-1/4 border overflow-scroll h-full">
          <div class="flex justify-center font-bold">Logs</div>
          <div class="log mx-2 " v-for="log in logs">
            {{ log }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import {useUserStore} from '../stores/user'
import {mapState} from "pinia/dist/pinia";

export default {
  name: "List.vue",
  data() {
    return {
      list     : [],
      isLoading: false,
      logs     : []
    }
  },
  computed: {
    ...mapState(useUserStore, ['userData'])
  },
  async mounted() {
    this.isLoading = true


    const store = useUserStore()


    const config = {
      headers: {Authorization: `Bearer ${store.$state.token}`}
    };

    let res = await axios.get('http://localhost/api/users', config)

    this.list = res.data.data

    let index = this.list.findIndex((user) => user.id === this.userData.id)
    if (index <= -1) return
    this.list[index].status = true


    // emit
    store.$state.socket.emit('getOnlineUsers')

    // listen events
    store.$state.socket.on('onlineEvent', (data) => {
      let index = this.list.findIndex((user) => user.id === data.userId)
      if (index <= -1) return
      this.list[index].status = true
      this.logs.push(this.list[index].id + " is Online")
    })


    store.$state.socket.on('onlineUsersEvent', (data) => {

      console.error("onlineUsersEvent", data)
      data.forEach((id) => {
        if (id !== null) {
          let index = this.list.findIndex((user) => user.id == id)
          if (index <= -1) return
          this.list[index].status = true
        }
      })

    })
    store.$state.socket.on('disconnectEvent', (data) => {
      let index = this.list.findIndex((user) => user.id === data.userId)
      if (index <= -1) return
      this.list[index].status = false
      this.logs.push(this.list[index].id + " is Offline")

    })
    store.$state.socket.on('newRegistrationEvent', (data) => {
      this.list.push(data)
      this.logs.push(data.id + " Registered Now!")
    })

    store.$state.socket.on('getOnlineUsersEvent', (data) => {
      data.forEach((id) => {
        if (id !== null) {
          let index = this.list.findIndex((user) => user.id == id)
          if (index <= -1) return
          this.list[index].status = true
        }
      })
    })


  },

  methods:{
    showUserAlert(user) {
      alert(JSON.stringify(user))
    }
  }
}
</script>

<style scoped>

</style>
