<template>
  <div class="main">
    <div class="">Login</div>
    <div class="form">

      <form class="flex flex-col" @submit.prevent="login">
        <input type="email" class="border-2 rounded m-2 p-2" v-model="form.email" placeholder="Email" required>


        <input type="password" class="border-2 rounded m-2 p-2" v-model="form.password" placeholder="Password" required>

        <button class="bg-gray-400 m-2 rounded p-2 text-white hover:bg-gray-300 transition-all hover:text-black"
                type="submit" :disabled="isLoading">Login
        </button>
      </form>
    </div>
    <div class="text-gray-300">Or</div>
    <router-link to="/register" class="my-4 hover:cursor-pointer underline">Register</router-link>

    <div class="errors m-2 p-2 border rounded border-red-500 text-red-800" v-if="error">
      <div class="error">
        {{ error.msg }}
      </div>
    </div>
  </div>
</template>

<script>
import {mapActions, mapState} from "pinia/dist/pinia";
import {useUserStore} from "../stores/user";
import axios from "axios";

export default {
  name: "Login.vue",

  data() {
    return {
      form     : {
        email   : "",
        password: ""
      },
      isLoading: false,
      error    : null
    }
  },
  computed: {
    // gives access to this.counter inside the component
    // same as reading from store.counter
    ...mapState(useUserStore, ['socket','userData'])
  },
  methods : {
    ...mapActions(useUserStore, {setUser: 'setUser'}),
    async login() {

      this.isLoading = true

      axios.post('http://localhost/api/users/login', this.form).then((res) => {

        this.setUser(res.data.data, res.data.tokens.access.token)

        this.isLoading = false


        console.log(this.userData)

        this.$router.push({path: '/list'})

        this.socket.emit("online", {userId: this.userData.id})





      }).catch((err) => {
        console.log(err)
        this.isLoading = false
        this.error = {msg: err.response.data.msg}

      })

    }
  }
}
</script>

<style scoped>
.main {
  @apply min-h-screen flex items-center justify-center flex-col
}

.form {
  @apply flex flex-col
}

</style>
