<template>
  <div class="main">
    <div class="">Register</div>
    <div class="form">

      <form class="flex flex-col" @submit.prevent="register">
        <input type="email" id="email" v-model="form.email" class="border-2 rounded m-2 p-2" placeholder="Email"
               required>
        <input type="password" id="password" v-model="form.password" class="border-2 rounded m-2 p-2"
               placeholder="Password" required>
        <input type="password" id="password_confirm" v-model="form.password_confirm" class="border-2 rounded m-2 p-2"
               placeholder="Password confirm" required>
        <input type="text" id="name" v-model="form.name" class="border-2 rounded m-2 p-2" placeholder="Name" required>
        <input type="text" id="surname" v-model="form.surname" class="border-2 rounded m-2 p-2" placeholder="Surname"
               required>
        <input type="text" id="lang" v-model="form.lang" class="border-2 rounded m-2 p-2" placeholder="Language"
               required>
        <input type="text" id="country" v-model="form.country" class="border-2 rounded m-2 p-2" placeholder="Country"
               required>
        <button :disabled="isLoading" class="bg-gray-400 m-2 rounded p-2 text-white hover:bg-gray-300 transition-all hover:text-black"
                type="submit">
          Register
        </button>
      </form>
    </div>
    <div class="text-gray-300">Or</div>
    <router-link to="/login" class="my-4 hover:cursor-pointer underline">Login</router-link>
    <div class="errors m-2 p-2 border rounded border-red-500 text-red-800" v-if="errors.length">
      <div class="error" v-for="error in errors">
        {{error.msg}}
      </div>
    </div>
  </div>
</template>

<script>

import {mapActions} from 'pinia'
import {useUserStore} from '../stores/user'
import axios from "axios";
import {mapState} from "pinia/dist/pinia";

export default {
  name: "Register.vue",
  data() {
    return {
      form: {
        email           : "",
        password        : "",
        password_confirm: "",
        name            : "",
        surname         : "",
        lang            : "",
        country         : "",
      },
      isLoading:false,
      errors:[]
    }
  },
  computed: {
    // gives access to this.counter inside the component
    // same as reading from store.counter
    ...mapState(useUserStore, ['socket','userData'])
  },
  methods: {
    ...mapActions(useUserStore, {setUser: 'setUser'}),
    async register() {

      this.isLoading =true

      axios.post('http://localhost/api/users/register', this.form).then((res) => {

        console.log(res.data)
        console.log(res.data.data)
        this.setUser(res.data.data,res.data.tokens.access.token)

        this.isLoading =false


        this.$router.push({ path: '/list' })

        this.socket.emit("online", {userId: this.userData.id})


      }).catch((err) => {
        console.log(err)
        this.isLoading =false
        this.errors = err.response.data.errors ? err.response.data.errors : [{msg:err.response.data.message}]

      })
    }
  }
}
</script>

<style scoped>
.main {
  @apply min-h-screen flex items-center justify-center flex-col
}

.form {
  @apply flex flex-col
}

</style>
